<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Login</title>
</head>
<body>
    <div class="header">
    <h1>Login</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    </div>
    <div class="main-content">
    <div class="row">
        <div class="column">
            <form action="/login" method="POST">
                <div class="row">
                    <div class="column">
                        <label for="email">Email: </label>
                        <input type="email" name="email" id="email" placeholder="john@example.com" />
                        <br />
                        <label for="password">Password: </label>
                        <input type="password" name="password" id="password" />
                    </div>
                    <div class="column">
                        <input type="submit" value="Login">
                    </div>
                </div>
            </form>
        </div> 
        <div class="column"> 
            <p>Don't have an account? Register <a href="/register">here</a>.</p>
        </div>
    </div>
    </div>
</body>
</html>